<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
      <a id="nav-return" href="."><img src="img/icon.png" /></a>
      <h1>Fancade Search</h1>
      <nav id="navbar"></nav>
    </header>
    <main>
      <noscript class="blob alert">This page requires JavaScript in order to work!</noscript>
      <section id="search-section">
        <h2 class="hidden" id="search"><a href="#search">Search</a></h2>
        <a id="search-return" href="."><img src="img/icon.png" /></a>
        <div id="search-ctx">
          <div class="submit border" id="search-bar">
            <input type="text" class="input" id="search-input" placeholder="Search Games..." />
            <a class="button" id="search-btn"></a>
          </div>
          <div id="search-tags">
            <span class="select" data-id="genre">
              <a class="current">Any Genre</a>
              <div class="options">
                <a data-value="">Any Genre</a>
                <a data-value="action">Action</a>
                <a data-value="puzzle">Puzzle</a>
                <a data-value="driving">Driving</a>
                <a data-value="platformer">Platformer</a>
                <a data-value="shooter">Shooter</a>
                <a data-value="strategy">Strategy</a>
                <a data-value="demo">Demo</a>
                <a data-value="art">Art </a>
                <a data-value="music">Music</a>
              </div>
            </span>
            <span class="select" data-id="lvl">
              <span class="current">Any Levels</span>
              <div class="options">
                <a data-value="">Any Levels</a>
                <a data-value="endless">Endless</a>
                <a data-value="progress">Progress</a>
              </div>
            </span>
            <span class="select" data-id="cam">
              <span class="current">Any Camera</span>
              <div class="options">
                <a data-value="">Any Camera</a>
                <a data-value="2d">2d Orthogonal</a>
                <a data-value="3d">3d Orthogonal</a>
                <a data-value="fov">Perspective</a>
              </div>
            </span>
            <span class="select" data-id="feature">
              <span class="current">Any Features</span>
              <div class="options">
                <a data-value="">Any Features</a>
                <a data-value="shop">Shop</a>
                <a data-value="multi">Multi Player</a>
              </div>
            </span>
            <span class="select" data-id="sort">
              <span class="current">Most Relevant</span>
              <div class="options">
                <a data-value="relevant">Most Relevant</a>
                <a data-value="popular">Most Popular</a>
                <a data-value="most">Most Clicked</a>
                <a data-value="least">Least Clicked</a>
                <a data-value="new">Newest</a>
                <a data-value="old">Oldest</a>
              </div>
            </span>
            <span class="button" data-id="by"><input type="text" placeholder="Any Author" /></span>
          </div>
        </div>
      </section>
      <section class="blob" id="game-section">
        <h2 id="game"><a href="#game">Game</a></h2>
        <div id="game-ctx">
          <iframe id="game-iframe" frameborder="0"></iframe>
          <div id="game-row">
            <a class="button" data-id="play">39.6k</a>
            <a class="button" data-id="likes">146</a>
          </div>
          <div id="game-comments">
            <div class="submit" id="comment-bar">
              <textarea class="input border" id="comment-input" placeholder="Add a comment..." rows="2"></textarea>
              <a class="button" id="comment-btn"></a>
            </div>
            <div class="comment">
              <img class="avatar" src="img/games/615999797E89CDC8.webp" />
              <div class="name">UwUfier45</div>
              <div class="content">I really like this game!</div>
            </div>
            <div class="comment">
              <img class="avatar" src="img/games/615999797E89CDC8.webp" />
              <div class="name">Random Dude</div>
              <div class="content">Hello mom! 👋</div>
            </div>
          </div>
        </div>
        <div id="game-suggestions">
          <h3 id="suggestions"><a href="#suggestions">More like this</a></h3>
          <a class="card" href="?g=615999797E89CDC8">
            <img src="img/games/615999797E89CDC8.webp" loading="lazy" />
            <div>
              <div class="title">Snek Left</div>
              <div class="clicks">39.6K</div>
              <div class="author">Martin Magni</div>
              <div class="likes">146</div>
            </div>
          </a>
          <a class="card" href="?g=615999797E89CDC8">
            <img src="img/games/615999797E89CDC8.webp" loading="lazy" />
            <div>
              <div class="title">Snek Left</div>
              <div class="clicks">39.6K</div>
              <div class="author">Martin Magni</div>
              <div class="likes">146</div>
            </div>
          </a>
          <a class="card" href="?g=615999797E89CDC8">
            <img src="img/games/615999797E89CDC8.webp" loading="lazy" />
            <div>
              <div class="title">Snek Left</div>
              <div class="clicks">39.6K</div>
              <div class="author">Martin Magni</div>
              <div class="likes">146</div>
            </div>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <h2 class="hidden" id="credits">Credits</h2>
      ©️ 2023 Guffo, Bricked<br />
      <a class="button" href="http://artcade.rf.gd" target="_blank">Artcade</a>
      layout by Toxel<br />
      <a class="button" href="https://fancade.com" target="_blank">Fancade</a>
      by Martin Magni
    </footer>
  </body>
</html>
